@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/images";

// BOTTONE PRIMARY OVERRIDE
.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #546486;
  --bs-btn-border-color: #546486;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#546486, 50%)};
  --bs-btn-hover-border-color: #{shade-color(#546486, 10%)};
  --bs-btn-focus-shadow-rgb: var(#546486);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(#546486, 20%)};
  --bs-btn-active-border-color: #{shade-color(#546486, 20%)};
}